<div class="home-controller" ng-controller="homeController">
  <h1 class="title">
    Bjond PokitDok App
  </h1>

    <div class="result">
      {{result}}
    </div>

    <button ng-click="callPokitDok()">Sample Call</button>

    <%= link_to "Registration", {:controller => "bjond_registrations", :action => "index"} %>
  </div>
</div>
